/*~~~~~~~~~~~~~~~~~~~~~~GLOBAL~~~~~~~~~~~~~~~~~~~~~~~*/
nav {
  background: #ffffff;
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
p {
  font-size: 15px;
  font-weight: bold;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 20px;
  width: 100%;
  background-color: white;
}
/*~~~~~~~~~~~~~~~~~~~~~~APP~~~~~~~~~~~~~~~~~~~~~~*/
.App-header {
  background-color: black;
  height: 50px;
  padding: 7px;
  text-align: left;
  color: white;
  top: 0;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: black;
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: white;
}
/*~~~~~~~~~~~~~~~~~~~~~~ROOM~~~~~~~~~~~~~~~~~~~~~~*/
.room-list ul li {
  margin-bottom: 8px;
}
/*~~~~~~~~~~~~~~~~~~~~~~MESSAGES~~~~~~~~~~~~~~~~~~~~~~*/
.room-name {
  margin-bottom: 30px;
}

.message-list ul li {
  padding: 15px;
}

.message-list {
  height: 100vh;
  flex: 1;
  padding: 10px 0 0 40px;
  margin-bottom: 0 auto -50px;
}

.message-list ul {
  padding: 0 0 0 0;
}

.message-list ul li:nth-child(odd) {
  background: #edf0f4;
}

.message-list ul li b{
  color: black;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-top: 80px;
}

